@font-face {
	font-family: "Avanir";
	src: url(/src/5615-font.ttf) format("eot"),
		url(/src/5615-font.ttf) format("woff"),
		url(/src/5615-font.ttf) format("truetype");
}

* {
	box-sizing: border-box;
	font-family: "Avanir", Arial, sans-serif;
}

.container {
	margin: 20px;
}

.search {
	background: url(/src/4.png) no-repeat 10px 50%;
	width: 100%;
	height: 70px;
	border: 1px solid #E1E7ED;
	box-shadow: 0px 1px 8px rgba(61, 78, 97, 0.1);
	border-radius: 4px;
	outline: none;
	padding-left: 40px;
	margin-bottom: 20px;
	transition: box-shadow 0.8s;
	font-weight: 900;
	font-size: 16px;
}
.search::placeholder {
	font-weight: 300;
	font-size: 16px;
}

.search:hover {
	box-shadow: 0px 3px 8px rgba(61, 78, 97, 0.2)
}

.search:focus {
	background: url(/src/4.png) no-repeat 10px 50%, linear-gradient(180deg, #FFFFFF 0%, #F6F6F7 100%);
	border: 1px solid #E1E7ED;
	border-radius: 3px;
}

.search_little {
	background-image: url(/src/4.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	width: 472px;
	height: 42px;
	border: 1px solid #E1E7ED;
	box-shadow: 0px 1px 8px rgba(61, 78, 97, 0.1);
	border-radius: 4px;
	outline: none;
	padding-left: 40px;
	transition: box-shadow 0.8s;
	font-weight: 900;
	font-size: 14px;
}

.search_little::placeholder {
	font-weight: 300;
	font-size: 14px;
}

.search_little:hover {
	box-shadow: 0px 3px 8px rgba(61, 78, 97, 0.2)
}

.search_little:focus {
	background: url(/src/4.png) no-repeat 10px 50%, linear-gradient(180deg, #FFFFFF 0%, #F6F6F7 100%);
	border: 1px solid #E1E7ED;
	border-radius: 3px;
		
}